@model RefStats.Models.Receipt

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Receipt_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Receipt_Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Match)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchRef1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchRef1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeeRef1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeeRef1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceRef1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowanceRef1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostRef1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelCostRef1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRef1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRef1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchRef2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchRef2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeeRef2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeeRef2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceRef2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowanceRef2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostRef2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelCostRef2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRef2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRef2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchRef3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchRef3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeeRef3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeeRef3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceRef3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowanceRef3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostRef3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelCostRef3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRef3)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRef3)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MatchRef4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MatchRef4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FeeRef4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FeeRef4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AllowanceRef4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AllowanceRef4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TravelCostRef4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TravelCostRef4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalRef4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalRef4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
