@model RefStats.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameDay" class="control-label"></label>
                <select asp-for="GameDay" asp-items="@Html.GetEnumSelectList<RefStats.Models.Game.DayOfWeek>()" class="form-control"></select>
                <span asp-validation-for="GameDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Series" class="control-label"></label>
                <select asp-for="Series" asp-items="@Html.GetEnumSelectList<RefStats.Models.Game.ListOfSeries>()" class="form-control"></select>
                <span asp-validation-for="Series" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GameTime" class="control-label"></label>
                <select asp-for="GameTime" asp-items="@Html.GetEnumSelectList<RefStats.Models.Game.ListOfGameTime>()" class="form-control"></select>
                <span asp-validation-for="GameTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arena" class="control-label"></label>
                <input asp-for="Arena" class="form-control" />
                <span asp-validation-for="Arena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team1" class="control-label"></label>
                <input asp-for="Team1" class="form-control" />
                <span asp-validation-for="Team1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Team2" class="control-label"></label>
                <input asp-for="Team2" class="form-control" />
                <span asp-validation-for="Team2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score1" class="control-label"></label>
                <input asp-for="Score1" class="form-control" />
                <span asp-validation-for="Score1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score2" class="control-label"></label>
                <input asp-for="Score2" class="form-control" />
                <span asp-validation-for="Score2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ref1" class="control-label"></label>
                <input asp-for="Ref1" class="form-control" />
                <span asp-validation-for="Ref1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ref2" class="control-label"></label>
                <input asp-for="Ref2" class="form-control" />
                <span asp-validation-for="Ref2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee1" class="control-label"></label>
                <select asp-for="Fee1" asp-items="@Html.GetEnumSelectList<RefStats.Models.Game.ListOfFees>()" class="form-control"></select>
                <span asp-validation-for="Fee1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee2" class="control-label"></label>
                <select asp-for="Fee2" asp-items="@Html.GetEnumSelectList<RefStats.Models.Game.ListOfFees>()" class="form-control"></select>
                <span asp-validation-for="Fee2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

